*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  margin: 4rem 0;
}

h1 {
  margin-bottom: 1.5rem;
}

.input-box {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 600px;
}

input {
  padding: 0.2rem;
  min-width: 300px;
  flex: 1 1 70%;
}

button {
  padding: 0.2rem 0.8rem;
}

#add-edit-modal {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 100%;
  max-width: 600px;
  padding: 2rem 3rem;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pfp {
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid black;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
}

.modal-body .close-btn {
  border: none;
  background: none;
  padding: 0;
  align-self: flex-end;
}

.modal-body input {
  flex: 0 0 auto;
  margin-bottom: 1rem;
}

.btns-wrapper {
  display: flex;
  gap: 0.8rem;
  width: 100%;
  margin-top: 1rem;
}

.btns-wrapper button {
  flex: 1 1 50%;
  padding: 0.5rem 0;
}

.hide {
  display: none;
}

.list-wrapper {
  display: flex;
  border: 1px solid black;
  margin: 1rem 0;
  min-height: 400px;
  width: 100%;
  max-width: 600px;
}

.contact-list {
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0 2rem;
  align-self: center;
}

.contact-preview {
  border: 1px solid black;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 2rem;
}
